@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  --color-primary: #e2e9f5;
  --color-secondary: #dbb093;
  --color-tertiary: #ecbce4;
  --color-quaternary: #79dcee;
  --color-quinary: #58c7db;
  --color-text-white: #ffffff;

  --animate-login_triangle: login_triangle 10s linear infinite;

  @keyframes login_triangle {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -175%;
    }
  }
}

:root {
  --color-primary: #e2e9f5;
  --color-secondary: #dbb093;
  --color-tertiary: #ecbce4;
  --color-quaternary: #79dcee;
  --color-quinary: #58c7db;
  --color-text-white: #ffffff;
}

body {
  background: var(--color-primary);
  color: var(--color-text-white);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes login_bezier_curves {
  0% {
    width: 28%;
  }
  50% {
    width: 33%;
  }
  100% {
    width: 28%;
  }
}

@keyframes login_donut {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
