@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@theme {
  --color-primary: #e2e9f5;
  --color-secondary: #dbb093;
  --color-secondary-dark: #a34c32;
  --color-tertiary: #ecbce4;
  --color-tertiary-dark: #e826c8;
  --color-quaternary: #79dcee;
  --color-quaternary-dark: #58c7db;
  --color-white: #ffffff;
  --color-purple-logo: #e826c8;
  --color-brown-logo: #d8b093;
  --color-blue-logo: #79dcee;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --animate-slanting-elements-slow: slanting-elements-slow 30s linear infinite;
  --animate-slanting-elements-fast: slanting-elements-fast 10s linear infinite;
  --animate-push-extra-large: push-extra-large 10s linear infinite;
  --animate-push-medium: push-medium 10s linear infinite;
  --animate-push-small: push-small 20s linear infinite;
  --animate-drip: drip 10s linear infinite;
  --animate-shake-soft: shake-soft 5s linear infinite;
  --animate-shake-hard: shake-hard 10s linear infinite;

  @keyframes slanting-elements-slow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -175%;
    }
  }

  @keyframes slanting-elements-fast {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -175%;
    }
  }

  @keyframes drip {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes shake-soft {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(-3deg);
    }
    66% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes shake-hard {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(-25deg);
    }
    66% {
      transform: rotate(25deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes push-extra-large {
    0% {
      width: calc(50vw - 640px);
    }
    50% {
      width: calc(50vw - 540px);
    }
    100% {
      width: calc(50vw - 640px);
    }
  }

  @keyframes push-medium {
    0% {
      margin-right: 15%;
    }
    50% {
      margin-right: 10%;
    }
    100% {
      margin-right: 15%;
    }
  }

  @keyframes push-small {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

:root {
  --color-primary: #e2e9f5;
  --color-secondary: #dbb093;
  --color-secondary-dark: #a34c32;
  --color-tertiary: #ecbce4;
  --color-tertiary-dark: #e826c8;
  --color-quaternary: #79dcee;
  --color-quaternary-dark: #58c7db;
  --color-white: #ffffff;
  --color-purple-logo: #e826c8;
  --color-brown-logo: #d8b093;
  --color-blue-logo: #79dcee;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
  background: var(--color-primary);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes login_bezier_curves {
  0% {
    width: 28%;
  }
  50% {
    width: 33%;
  }
  100% {
    width: 28%;
  }
}

@keyframes login_donut {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
