@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tw-animate-css";

@theme {
  --color-background: #fffcf9;
  --color-primary: #f7a4b8;
  --color-secondary: #fbe9d0;
  --color-accent: #4a90e2;
  --color-accent-light: #d3e5f9;
  --color-decorative: #79dcee;
  --color-accent-hover: #a7c7f0;
  --color-charcoal: #2b2b2b;
  --color-post: #49cc90;
  --color-put: #61affe;
  --color-delete: #f93e3e;
  --color-white: #ffffff;

  --font-poppins: "Poppins", sans-serif;
  --font-luckiest: "Luckiest Guy", cursive;

  --animate-slanting-elements-slow: slanting-elements-slow 30s linear infinite;
  --animate-slanting-elements-fast: slanting-elements-fast 10s linear infinite;
  --animate-push-extra-large: push-extra-large 10s linear infinite;
  --animate-push-medium: push-medium 10s linear infinite;
  --animate-push-small: push-small 20s linear infinite;
  --animate-drip: drip 10s linear infinite;
  --animate-shake-soft: shake-soft 5s linear infinite;
  --animate-shake-hard: shake-hard 10s linear infinite;
  --animate-logo-carousel: stroke 30s linear infinite;
  --animate-logo-carousel-reverse: stroke-reverse 30s linear infinite;

  @keyframes slanting-elements-slow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -175%;
    }
  }

  @keyframes slanting-elements-fast {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -175%;
    }
  }

  @keyframes drip {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes shake-soft {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(-3deg);
    }
    66% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes shake-hard {
    0% {
      transform: rotate(0deg);
    }
    33% {
      transform: rotate(-25deg);
    }
    66% {
      transform: rotate(25deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes push-extra-large {
    0% {
      width: calc(50vw - 640px);
    }
    50% {
      width: calc(50vw - 540px);
    }
    100% {
      width: calc(50vw - 640px);
    }
  }

  @keyframes push-medium {
    0% {
      margin-right: 15%;
    }
    50% {
      margin-right: 10%;
    }
    100% {
      margin-right: 15%;
    }
  }

  @keyframes push-small {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes stroke {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% + 100px));
    }
  }

  @keyframes stroke-reverse {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(100% - 100px));
    }
  }
}

:root {
  --color-background: #fffcf9;
  --color-primary: #f7a4b8;
  --color-secondary: #fbe9d0;
  --color-accent: #4a90e2;
  --color-accent-light: #d3e5f9;
  --color-accent-hover: #a7c7f0;
  --color-decorative: #79dcee;
  --color-charcoal: #2b2b2b;

  --color-post: #49cc90;
  --color-put: #61affe;
  --color-delete: #f93e3e;
  --color-white: #ffffff;
  --font-poppins: "Poppins", sans-serif;
  --font-luckiest: "Luckiest Guy", cursive;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

* {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  background-color: var(--color-background);
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 10;
}

body *::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background: var(--color-background);
  color: var(--color-white);
}

svg {
  color: var(--color-accent);
}

#font-effect {
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-charcoal);
}

@keyframes login_bezier_curves {
  0% {
    width: 28%;
  }
  50% {
    width: 33%;
  }
  100% {
    width: 28%;
  }
}

@keyframes login_donut {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
